@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary1: hsl(179, 62%, 43%);
    --primary1a: hsl(179, 47%, 52%);
    --primary2: hsl(71, 73%, 54%);

    --neutral1: hsl(204, 43%, 93%);
    --neutral2: hsl(218, 22%, 67%);
    --neutral3: hsl(179, 43%, 75%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--neutral1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 650px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.top {
    background-color: var(--white);
    padding: 45px 40px;
    margin-bottom: 0;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary1);
  padding-bottom: 15px;
}

.sub-title {
  color: var(--primary2);
}

.text {
  color: var(--neutral2);
  line-height: 1.8;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 1;
    background-color: var(--primary1);
    color: var(--white);
    padding: 45px 40px 40px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

p.price {
  color: var(--neutral1);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

p.price span {
  color: var(--neutral3);
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}

.access {
  font-weight: 400;
  font-size: 15px;
  color: var(--neutral1);
  margin-top: 0;
  padding-bottom: 20px;
}

.button {
  background-color: var(--primary2);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
}

.right {
    flex: 1;
    background-color: var(--primary1a);
    color: var(--white);
    padding: 45px 40px 40px;
}

ul {
  margin-left: 0;
  opacity: 0.7;
  padding-top: 10px;
  padding-left: 0;
}

ul li {
  color: var(--neutral1);
  font-size: 15px;
  list-style: none;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
